{% extends 'base.html' %}

{% block title %}Soccer Website:Club{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Club</th>
      <th scope="col">Country</th>
      <th scope="col">points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Esperance de Tunis</td>
      <td>Tunisia</td>
      <td>1626</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Al Ahly</td>
      <td>Egypt</td>
      <td>1602</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>TP Mazembe</td>
      <td>Congo DR</td>
      <td>1580</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Al-Merreikh</td>
      <td>Sudan</td>
      <td>1555</td>
    </tr>    <tr>
      <th scope="row">5</th>
      <td>Etoile du Sahel</td>
      <td>Tunisia</td>
      <td>1547</td>
    </tr>    <tr>
      <th scope="row">6</th>
      <td>Wydad Casablanca</td>
      <td>Morocco</td>
      <td>1543</td>
    </tr>    <tr>
      <th scope="row">7</th>
      <td>Vita Club</td>
      <td>Congo DR</td>
      <td>1541</td>
    </tr>    <tr>
      <th scope="row">8</th>
      <td>Al Hilal Omdurman</td>
      <td>Sudan</td>
      <td>1539</td>
    </tr>    <tr>
      <th scope="row">9</th>
      <td>El Zamalek</td>
      <td>Egypt</td>
      <td>1523</td>
    </tr>    <tr>
      <th scope="row">10</th>
      <td>CS Sfaxien</td>
      <td>Tunisia</td>
      <td>1518</td>
    </tr>

  </tbody>
</table>
</head>
<body>

</body>
</html>
{% endblock content %}
