{% extends 'base.html' %}

{% block title %}Soccer Website:Club{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> Team</th>
      <th scope="col">Winners</th>
      <th scope="col">Runners-up</th>
      <th scope="col">Third Place</th>
      <th scope="col">Forth Place</th>
      <th scope="col">Total(Top Four)</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Egypt</td>
      <td>7 (1957, 1959*1, 1986*, 1998, 2006*, 2008, 2010)</td>
      <td>2 (19621, 2017)</td>
      <td>3 (19631, 19701, 1974*)</td>
      <td>3 (1976, 1980, 1984)</td>
      <td>15</td>

    </tr>
    <tr>
      <td>  Cameroon</td>
      <td>	5 (1984, 1988, 2000, 2002, 2017)</td>
      <td>2 (1986, 2008)</td>
      <td>1 (1972*)</td>
      <td>1 (1992)</td>
      <td>9</td>
    </tr>
    <tr>
      <td> Ghana</td>
      <td>	4 (1963*, 1965, 1978*, 1982)</td>
      <td>5 (1968, 1970, 1992, 2010, 2015)	</td>
      <td>1 (2008*)</td>
      <td>4 (1996, 2012, 2013, 2017)</td>
      <td>14</td>
    </tr>
      <tr>
      <td>Nigeria</td>
      <td>3 (1980*, 1994, 2013)</td>
      <td>4 (1984, 1988, 1990, 2000*)</td>
      <td>7 (1976, 1978, 1992, 2002, 2004, 2006, 2010)</td>
      <td>0</td>
      <td>14</td>
    </tr>    <tr>
      <td> Ivory Coast</td>
      <td> 	2 (1992, 2015)	</td>
      <td>2 (2006, 2012)</td>
      <td>4 (1965, 1968, 1986, 1994)</td>
      <td>2 (1970, 2008)</td>
      <td>10</td>
    </tr>    <tr>
      <td>DR Congo</td>
      <td>2 (1968, 1974)</td>
      <td>0</td>
      <td>2 (1998, 2015)</td>
      <td>1 (1972)</td>
      <td>5</td>
    </tr>    <tr>
      <td> Zambia</td>
      <td>1 (2012)</td>
      <td>2 (1974, 1994)</td>
      <td>3 (1982, 1990, 1996)</td>
      <td>0</td>
      <td>6</td>
    </tr>    <tr>
     <td>Tunisia</td>
      <td>1 (2004*)</td>
      <td>2 (1965*, 1996)</td>
      <td>1 (1962)</td>
      <td>2 (1978, 2000)</td>
      <td>6</td>



  </tbody>
</table>
</head>
<body>

</body>
</html>
{% endblock content %}
