{% extends 'base.html' %}

{% block title %}Soccer Website:Club{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Club</th>
      <th scope="col">Country</th>
      <th scope="col">points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jeonbuk FC</td>
      <td>South Korea</td>
      <td>1649</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>AL Duhail SC</td>
      <td>Qatar</td>
      <td>1634</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Al Hilal Riyadh</td>
      <td>Saudi Arabia</td>
      <td>1630</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Al-Sadd</td>
      <td>Qatar</td>
      <td>1592</td>
    </tr>    <tr>
      <th scope="row">5</th>
      <td>GuangZhou Evergrande</td>
      <td>China PR</td>
      <td>1580</td>
    </tr>    <tr>
      <th scope="row">6</th>
      <td>Al-Ahli</td>
      <td>Saudi Arabia</td>
      <td>1574</td>
    </tr>    <tr>
      <th scope="row">7</th>
      <td>Persepolis</td>
      <td>Iran</td>
      <td>1573</td>
    </tr>    <tr>
      <th scope="row">8</th>
      <td>Kashima Antlers</td>
      <td>Japan</td>
      <td>1572</td>
    </tr>    <tr>
      <th scope="row">9</th>
      <td>Kawasaki Frontale</td>
      <td>Japan</td>
      <td>1564</td>
    </tr>    <tr>
      <th scope="row">10</th>
      <td>Al-Ain</td>
      <td>United Arab Emirates</td>
      <td>1562</td>
    </tr>

  </tbody>
</table>
</head>
<body>

</body>
</html>

    <style>
        body{background-color: #0f5b76;}
        p{color: #131a0b;}

        </style>
        </head>
        <body>

        </body>
        </html>
{% endblock content %}
