{% extends 'base.html' %}

{% block title %}Soccer Website:Club{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> Team</th>
      <th scope="col">Winners</th>
      <th scope="col">Runners-up</th>
      <th scope="col">Third Place</th>
      <th scope="col">Forth Place</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mexico</td>
      <td>7 (1993, 1996, 1998, 2003, 2009, 2011, 2015)</td>
      <td>1 (2007)</td>
      <td>3 (1991, 2013, 2017)</td>
      <td>0</td>

    </tr>
    <tr>
      <td>United States</td>
      <td>6 (1991, 2002, 2005, 2007, 2013, 2017)</td>
      <td>4 (1993, 1998, 2009, 2011)</td>
      <td>2 (1996, 2003)</td>
      <td>1 (2015)</td>
    </tr>
    <tr>
      <td> Canada</td>
      <td>1 (2000)</td>
      <td>0</td>
      <td>2 (2002, 2007)</td>
      <td>0</td>
    </tr>
      <tr>
      <td>Panama</td>
      <td>0</td>
      <td>2 (2005, 2013)</td>
      <td>2 (2011, 2015)</td>
      <td>0</td>
    </tr>    <tr>
      <td>Jamaica</td>
      <td>0</td>
      <td>2 (2005, 2013)</td>
      <td>1 (1993)</td>
      <td>1 (1998)</td>
    </tr>    <tr>
      <td>Brazil</td>
      <td>0</td>
      <td>2 (1996, 2003)</td>
      <td>1 (1998)</td>
      <td>0</td>




  </tbody>
</table>
</head>
<body>

</body>
</html>
{% endblock content %}
