{% extends 'base.html' %}

{% block title %}Soccer Website:Club{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Club</th>
      <th scope="col">Country</th>
      <th scope="col">points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barcelona</td>
      <td>Spain</td>
      <td>2074</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Liverpool FC</td>
      <td>England</td>
      <td>2046</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Manchester City</td>
      <td>England</td>
      <td>2023</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Bayern Munchen</td>
      <td>Germany</td>
      <td>1938</td>
    </tr>    <tr>
      <th scope="row">5</th>
      <td>Juventus</td>
      <td>Italy</td>
      <td>1936</td>
    </tr>    <tr>
      <th scope="row">6</th>
      <td>Atletico Madrid</td>
      <td>Spain</td>
      <td>1936</td>
    </tr>    <tr>
      <th scope="row">7</th>
      <td>Ajax Amsterdam</td>
      <td>Netherlands</td>
      <td>1900</td>
    </tr>    <tr>
      <th scope="row">8</th>
      <td>Paris Saint-Germain</td>
      <td>France</td>
      <td>1889</td>
    </tr>    <tr>
      <th scope="row">9</th>
      <td>Real Madrid</td>
      <td>Spain</td>
      <td>1849</td>
    </tr>    <tr>
      <th scope="row">10</th>
      <td>Tottenham Hotspur</td>
      <td>England</td>
      <td>1849</td>
    </tr>

  </tbody>
</table>
</head>
<body>

</body>
</html>

    <style>
        body{background-color: #0f5b76;}
        p{color: #131a0b;}

        </style>
        </head>
        <body>

        </body>
        </html>
{% endblock content %}
