{% extends 'base.html' %}

{% block title %}Soccer Website:Rank{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team</th>
      <th scope="col">Total Points</th>
      <th scope="col">Previous points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Belgium</td>
      <td>1737</td>
      <td>1727</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>France</td>
      <td>1734</td>
      <td>1726</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Brazil</td>
      <td>1676</td>
      <td>1676</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>England</td>
      <td>1647</td>
      <td>1631</td>
    </tr>    <tr>
      <th scope="row">5</th>
      <td>Croatia</td>
      <td>1621</td>
      <td>1634</td>
    </tr>    <tr>
      <th scope="row">6</th>
      <td>Uruguay</td>
      <td>1613</td>
      <td>1609</td>
    </tr>    <tr>
      <th scope="row">7</th>
      <td>Portugal</td>
      <td>1607</td>
      <td>1614</td>
    </tr>    <tr>
      <th scope="row">8</th>
      <td>Switzerland</td>
      <td>1604</td>
      <td>1599</td>
    </tr>    <tr>
      <th scope="row">9</th>
      <td>Spain</td>
      <td>1601</td>
      <td>1591</td>
    </tr>    <tr>
      <th scope="row">10</th>
      <td>Denmark</td>
      <td>1586</td>
      <td>1589</td>
    </tr>

  </tbody>
</table>
</head>
<body>

</body>
</html>
{% endblock content %}
