{% extends 'base.html' %}

{% block title %}Soccer Website:Club{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Club</th>
      <th scope="col">Country</th>
      <th scope="col">points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Monterrey</td>
      <td>Mexico</td>
      <td>1660</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Tigres UANL</td>
      <td>Mexico</td>
      <td>1619</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>America</td>
      <td>Mexico</td>
      <td>1599</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Cruz Azul</td>
      <td>Mexico</td>
      <td>1581</td>
    </tr>    <tr>
      <th scope="row">5</th>
      <td>Leon</td>
      <td>Mexico</td>
      <td>1567</td>
    </tr>    <tr>
      <th scope="row">6</th>
      <td>Santos Laguna</td>
      <td>Mexico</td>
      <td>1554</td>
    </tr>    <tr>
      <th scope="row">7</th>
      <td>CF Pachuca</td>
      <td>Mexico</td>
      <td>1552</td>
    </tr>    <tr>
      <th scope="row">8</th>
      <td>Deportivo</td>
      <td>Costa Rica</td>
      <td>1519</td>
    </tr>    <tr>
      <th scope="row">9</th>
      <td>Toluca FC</td>
      <td>Mexico</td>
      <td>1508</td>
    </tr>    <tr>
      <th scope="row">10</th>
      <td>Club Sport Herediano</td>
      <td>Costa Rica</td>
      <td>1495</td>
    </tr>

  </tbody>
</table>
</head>
<body>

</body>
</html>
{% endblock content %}
