{% extends 'base.html' %}

{% block title %}Soccer Website:Club{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Club</th>
      <th scope="col">Country</th>
      <th scope="col">points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Auckland City</td>
      <td>New Zealand</td>
      <td>1598</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Team Wellington</td>
      <td>New Zealand </td>
      <td>1482</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Hekari United</td>
      <td>Papua New Guinea</td>
      <td>1371</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Waitakere United</td>
      <td>New Zealand </td>
      <td>1369</td>
    </tr>    <tr>
      <th scope="row">5</th>
      <td>Canterbury</td>
      <td>New Zealand </td>
      <td>1368</td>
    </tr>    <tr>
      <th scope="row">6</th>
      <td>Eastern Stars</td>
      <td>Papua New Guinea</td>
      <td>1356</td>
    </tr>    <tr>
      <th scope="row">7</th>
      <td>Tukoko University</td>
      <td>Papua New Guinea</td>
      <td>1352</td>
    </tr>    <tr>
      <th scope="row">8</th>
      <td>AS Magenta</td>
      <td>New Caledonia</td>
      <td>1348</td>
    </tr>    <tr>
      <th scope="row">9</th>
      <td>Eastern Suburbs AFC</td>
      <td>New Zealand </td>
      <td>1343</td>
    </tr>    <tr>
      <th scope="row">10</th>
      <td>Lautoka</td>
      <td>Fiji</td>
      <td>1326</td>
    </tr>

  </tbody>
</table>
</head>
<body>

</body>
</html>
{% endblock content %}
