{% extends 'base.html' %}

{% block title %}Soccer Website:Club{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Club</th>
      <th scope="col">Country</th>
      <th scope="col">points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Palmerias</td>
      <td>Brazil</td>
      <td>1795</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>River Plate</td>
      <td>Argentina</td>
      <td>1756</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Olimpia</td>
      <td>Paraguay</td>
      <td>1727</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>Boca Juniors</td>
      <td>Argentina</td>
      <td>1725</td>
    </tr>    <tr>
      <th scope="row">5</th>
      <td>Racing Club</td>
      <td>Argentina</td>
      <td>1726</td>
    </tr>    <tr>
      <th scope="row">6</th>
      <td>Flamengo</td>
      <td>Brazil</td>
      <td>1690</td>
    </tr>    <tr>
      <th scope="row">7</th>
      <td>Atletico PR</td>
      <td>Brazil</td>
      <td>1680</td>
    </tr>    <tr>
      <th scope="row">8</th>
      <td>Defensa Y Justicia</td>
      <td>Argentina</td>
      <td>1676</td>
    </tr>    <tr>
      <th scope="row">9</th>
      <td>Gremio</td>
      <td>Brazil</td>
      <td>1666</td>
    </tr>    <tr>
      <th scope="row">10</th>
      <td>Internacional</td>
      <td>Brazil</td>
      <td>1644</td>
    </tr>

  </tbody>
</table>
</head>
<body>

</body>
</html>

    <style>
        body{background-color: #0f5b76;}
        p{color: #131a0b;}

        </style>
        </head>
        <body>

        </body>
        </html>
{% endblock content %}
