{% extends 'base.html' %}

{% block title %}Soccer Website:Rank{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team</th>
      <th scope="col">Total Points</th>
      <th scope="col">Previous points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>USA</td>
      <td>2101</td>
      <td>2123</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Germany</td>
      <td>2072</td>
      <td>2057</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>England</td>
      <td>2049</td>
      <td>2021</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>France</td>
      <td>2043</td>
      <td>2046/td>
    </tr>    <tr>
      <th scope="row">5</th>
      <td>Canada</td>
      <td>2006</td>
      <td>2006</td>
    </tr>    <tr>
      <th scope="row">6</th>
      <td>Australia</td>
      <td>2003</td>
      <td>1999</td>
    </tr>    <tr>
      <th scope="row">7</th>
      <td>Japan</td>
      <td>1991</td>
      <td>1984</td>
    </tr>    <tr>
      <th scope="row">8</th>
      <td>Netherlands</td>
      <td>1967</td>
      <td>1987</td>
    </tr>    <tr>
      <th scope="row">9</th>
      <td>Sweden</td>
      <td>1962</td>
      <td>1987</td>
    </tr>    <tr>
      <th scope="row">10</th>
      <td>Brazil</td>
      <td>1944</td>
      <td>1964</td>
    </tr>

  </tbody>
</table>
</head>
<body>

</body>
</html>
{% endblock content %}
