{% extends 'base.html' %}

{% block title %}Soccer Website:Club{% endblock %}
{% block content %}


     <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nation Team</th>
      <th scope="col">Wins</th>
      <th scope="col">Runners-up</th>
      <th scope="col">Total finals</th>
      <th scope="col">Years Won</th>
      <th scope="col">Years runners-up</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Brazil</td>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>1958, 1962, 1970, 1994, 2002</td>
      <td>1950, 1998</td>



    </tr>
    <tr>
      <td> Germany</td>
      <td>4</td>
      <td>4</td>
      <td>8</td>
      <td>1954, 1974, 1990, 2014</td>
      <td>1966, 1982, 1986, 2002</td>
    </tr>
    <tr>
      <td>Brazil</td>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>1958, 1962, 1970, 1994, 2002</td>
      <td>1950, 1998</td>
    </tr>
      <tr>
      <td>Italy</td>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>1934, 1938, 1982, 2006</td>
      <td>1970, 1994</td>
    </tr>    <tr>
      <td>Argentina</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>1978, 1986</td>
      <td>1930, 1990, 2014</td>
    </tr>    <tr>
      <td>France</td>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>1998, 2018</td>
      <td>2006</td>
    </tr>    <tr>
      <td>Uruguay</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>1930, 1950</td>
      <td>0</td>
    </tr>    <tr>
     <td>England</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1966</td>
      <td>0</td>
   </tr>    <tr>
     <td>Spain</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>2010</td>
      <td>0</td>


  </tbody>
</table>
</head>
<body>

</body>
</html>
{% endblock content %}
